// Switch inspired by https://codepen.io/jsndks/pen/qEXzOQ
@import 'LessConstants';

@sun-inner: #f5eb42;
@sun-outer: #e4c74d;
@cloud-outer: #d4d4d2;
@parent-outer: #81c0d5;
@parent-inner: #c0e6f6;
@moon-inner: #fffdf2;
@moon-outer: #dee1c5;
@crater-color: #efeeda;
@stars: #fcfcfc;
@dark-sky: #484848;
@night-border: #202020;

.crater (@top, @left, @size) {
  content: '';
  position: absolute;
  top: @top;
  left: @left;
  width: @size;
  height: @size;
  background-color: @crater-color;
  border-radius: 100%;
  border: 2px solid @moon-outer;
}

.cloudBubble (@top, @right, @width, @height, @degree) {
  content: '';
  display: block;
  position: relative;
  top: @top;
  right: @right;
  width: @width;
  height: @height;
  border: 4px solid @cloud-outer;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(@degree);
  background-color: @white;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  padding: 2px;
  border-radius: 20px;
}

.toggle:before,
.toggle:after {
  content: '';
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  background-color: @parent-inner;
  border-radius: 40px;
  border: 2px solid @parent-outer;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 25px;
  background-color: @sun-inner;
  border: 2px solid @sun-outer;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure {
  position: absolute;
  bottom: -5px;
  left: -28px;
  display: block;
  width: 45px;
  height: 16px;
  border: 4px solid @cloud-outer;
  border-radius: 20px;
  background-color: @white;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:before {
    .cloudBubble(-12px, -8px, 20px, 20px, 45deg);
  }
}

.toggle-switch-figureAlt {
  .crater(5px, 2px, 2px);

  box-shadow: 22px 8px 0 -2px @stars, 30px -4px 0 -2px @stars, 36px 4px 0 -2px @stars;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}

.toggle-switch-figureAlt:before {
  .crater(-5px, 5px, 5px);
}

.toggle-switch-figureAlt:after {
  .crater(6px, 6px, 2px);
}

.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: @moon-outer;
  background-color: @moon-inner;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: @dark-sky;
  border-color: @night-border;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 20px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}
