@import 'LessConstants';

.container {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;

  &.dark {
    background-color: @background-grey;
  }

  &.light {
    background-color: @background-white;
  }

  .main {
    font-family: @main-font;
    width: 100%;

    .content {
      overflow-y: scroll;

      @media (max-width: 600px) {
        max-height: ~'calc(100vh - 100px)';
        padding: 20px;
      }

      @media (min-width: 601px) and (max-width: 800px) {
        max-height: ~'calc(100vh - 100px)';
        padding: 30px;
      }

      @media (min-width: 801px) {
        max-height: ~'calc(100vh - 120px)';
        padding: 40px;
      }

      .description {
        letter-spacing: 0.04em;

        @media (max-width: 600px) {
          font-size: 15px;
        }

        @media (min-width: 601px) and (max-width: 800px) {
          font-size: 17px;
        }

        @media (min-width: 801px) {
          font-size: 19px;
        }

        &.dark {
          color: @off-white;
        }

        &.light {
          color: @black;
        }
      }

      .text {
        @media (max-width: 600px) {
          font-size: 14px;
        }

        @media (min-width: 601px) and (max-width: 800px) {
          font-size: 16px;
        }

        @media (min-width: 801px) {
          font-size: 18px;
        }

        &.dark {
          color: @dark-grey;
        }

        &.light {
          color: @black;
        }
      }

      .margin-bottom {
        margin-bottom: 20px;
      }
    }
  }
}
