@import 'LessConstants';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  height: 100vh;
  overflow: hidden;

  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: inherit;
    border-radius: 5px;
    width: 90vw;
    max-width: 400px;

    .close {
      position: absolute;
      top: 18px;
      right: 18px;
      width: 16px;
      height: 16px;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
