@import 'LessConstants';

.container {
  font-family: @main-font;

  .input {
    display: block;
    width: 240px;
    height: 39px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    font-size: 14px;
    margin: 10px auto 0 auto;
    padding: 8px 12px;

    &.light {
      color: @off-white;
      background-color: @dark-grey;

      &::placeholder {
        color: @off-white;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: @off-white;
      }

      &::-ms-input-placeholder {
        color: @off-white;
      }
    }
    &.dark {
      color: @dark-grey;
      background-color: @off-white;
    }

    &:focus {
      outline: 0;
    }
  }
}
