@main-font: 'Varela Round', sans-serif;

// General
@white: #fff;
@black: #000;
@charcoal: #191919;
@peppermint: #00d563;
@cherry: #c02519;

// Dark mode
@background-grey: #3f3f3f;
@dark-grey: #7e7e7e;
@off-white: #e0e0e0;

// Light mode
@background-white: #f2f2f2;
@light-grey: #e0e0e0;
@off-grey: #3f3f3f;
