@import 'LessConstants';

.container {
  position: absolute;
  top: -48px;
  left: 70px;
  width: 155px;
  opacity: 0.85;
  border-radius: 5px;
  background-color: @charcoal;
  padding: 10px;
  margin-top: 5px;
  z-index: 100;

  .line {
    font-family: @main-font;
    font-size: 12px;
    line-height: 1.8;
    color: @white;
    font-weight: 200;
    text-align: left;
    z-index: 11;

    &.last {
      margin-top: 5px;
    }

    span {
      opacity: 1;
      font-weight: 700;
      margin-right: 6px;
    }
  }
}
