@import 'LessConstants';

.container {
  display: block;

  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .inner {
      display: block;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        display: none;

        &:checked ~ .checkmark {
          opacity: 1;
          background-color: @off-white;

          &:after {
            display: block;
          }
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: @off-white;
        border-radius: 2px;
        border: 0;
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          display: none;
        }

        &:after {
          left: 6px;
          top: 2px;
          width: 4px;
          height: 9px;
          border: solid @dark-grey;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}
