@import 'LessConstants';

.container {
  font-family: @main-font;

  .content {
    border-top: 1px solid @off-white;
    padding-top: 10px;

    .title {
      font-size: 22px;
      color: @off-white;
      letter-spacing: 0.05em;
      margin-bottom: 10px;
    }

    .answer {
      margin-bottom: 10px;

      a {
        font-size: 16px;
        color: @peppermint;
        text-decoration: none;
      }

      code {
        display: block;
        background: #282c34;
        border: 1px solid #282c34;
        border-left: 3px solid @peppermint;
        border-radius: 5px;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.5;
        color: #989fab;
        page-break-inside: avoid;
        word-wrap: break-word;
        margin-bottom: 1.6em;
        padding: 1em 1.5em;
      }

      p,
      ol,
      ul {
        font-size: 16px;
        color: @off-white;
        line-height: 1.4;
        letter-spacing: 0.05em;
      }

      table,
      th,
      td {
        border: 1px solid @off-white;
        border-collapse: collapse;
      }

      table {
        margin-bottom: 20px;

        th,
        td {
          font-size: 16px;
          line-height: 1.4;
          letter-spacing: 0.05em;
        }

        th {
          color: @off-white;
          text-align: center;
          padding: 5px 10px;
        }

        td {
          color: @off-white;
          padding: 5px;
        }
      }
    }
  }
}
