@import 'LessConstants';

.about-modal {
  font-family: @main-font;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 30px;

  &.light {
    background-color: @off-white;
  }
  &.dark {
    background-color: @dark-grey;
  }

  .text {
    color: @off-white;

    &.heading {
      font-size: 22px;
      margin-bottom: 20px;
    }
    &.paragraph {
      font-size: 18px;
    }

    &.light {
      color: @dark-grey;
    }
    &.dark {
      color: @off-white;
    }

    a {
      color: @peppermint;
      text-decoration: none;
    }
  }

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto 0 auto;
  }
}
