@import 'LessConstants';

.side-bar {
  @media (max-width: 800px) {
    width: 250px;
    position: absolute;
    z-index: 50;
  }

  @media (min-width: 801px) {
    width: 400px;
  }

  &.dark {
    background-color: @background-grey;
    border-right: 1px solid @dark-grey;
  }

  &.light {
    background-color: @background-white;
    border-right: 1px solid @light-grey;
  }

  .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: @main-font;
      box-sizing: border-box;
      padding: 20px;

      .top {
        display: flex;
        justify-content: space-between;

        img {
          width: 22px;
          height: 22px;

          &:hover {
            cursor: pointer;
          }

          @media (min-width: 801px) {
            display: none;
          }
        }
      }

      .title {
        font-size: 22px;
        margin-bottom: 20px;

        &.dark {
          color: @off-white;
        }

        &.light {
          color: @black;
        }

        &.about {
          margin-top: 20px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .info {
        margin-top: 30px;

        .row {
          font-size: 16px;
          line-height: 1.3;
          letter-spacing: 0.04em;
          margin-bottom: 6px;

          &.dark {
            color: @off-white;
          }

          &.light {
            color: @black;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .footer {
      @media (max-width: 600px) {
        padding-bottom: 40px;
      }

      @media (min-width: 601px) and (max-width: 800px) {
        padding-bottom: 30px;
      }
    }
  }
}
