@import 'LessConstants';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .middle {
    .title {
      font-family: @main-font;
      color: @peppermint;

      @media (max-width: 600px) {
        font-size: 24px;
      }

      @media (min-width: 601px) and (max-width: 800px) {
        font-size: 34px;
      }

      @media (min-width: 801px) {
        font-size: 42px;
      }
    }
  }

  .left,
  .right {
    img {
      width: 22px;
      height: 22px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .right {
    .log-in {
      font-family: @main-font;
      user-select: none;
      cursor: pointer;

      @media (max-width: 600px) {
        font-size: 16px;
      }

      @media (min-width: 601px) and (max-width: 800px) {
        font-size: 18px;
      }

      @media (min-width: 801px) {
        font-size: 20px;
      }

      &.dark {
        color: @off-white;
      }

      &.light {
        color: @black;
      }
    }
  }
}
