@import 'LessConstants';

.container {
  display: block;
  font-family: @main-font;

  .full-button {
    background-color: @peppermint;
    border: 1px solid @peppermint;
    color: @white;
    font-size: 14px;
    letter-spacing: 0.04em;
    border-radius: 20px;
    outline: none;
    padding: 8px 18px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}
