@import 'LessConstants';

.options-row {
  display: flex;
  font-family: @main-font;
  margin-bottom: 10px;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }

  @media (min-width: 601px) {
    flex-wrap: nowrap;
  }

  .separator {
    @media (max-width: 600px) {
      width: 100%;
      height: 10px;
    }

    @media (min-width: 601px) {
      width: 10px;
    }
  }
}
