@import 'LessConstants';

.dropdown {
  position: relative;
  font-family: @main-font;
  font-size: 16px;

  &.normal {
    width: 200px;
  }
  &.long {
    width: 230px;
  }

  select {
    width: 100%;
    background-color: @dark-grey;
    color: @white;
    letter-spacing: 0.05em;
    font-size: inherit;
    border: 1px solid @dark-grey;
    border-radius: 5px;
    outline: none;
    margin: 0;
    padding: 8px 8px 8px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
  }

  // arrow down
  &::after {
    content: '\25BC';
    color: @white;
    font-size: 13px;
    line-height: 1;
    right: 8px;
    top: 14px;
  }

  &::before {
    content: '';
    width: 28px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    background-color: @dark-grey;
  }
}
