@import 'LessConstants';

.container {
  width: 90%;
  box-sizing: border-box;
  font-family: @main-font;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  margin: 0 auto;

  &.dark {
    color: @off-white;
    border-top: 1px solid @dark-grey;
  }

  &.light {
    color: @black;
    border-top: 1px solid @light-grey;
  }
}
