@import 'LessConstants';

.navigation-row {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: @main-font;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  @media (min-width: 601px) {
    flex-direction: row;
    max-width: 800px;
    margin-top: 10px;
  }

  @media (max-width: 600px) {
    padding-bottom: 40px;
  }

  @media (min-width: 601px) and (max-width: 800px) {
    padding-bottom: 30px;
  }

  .separator {
    @media (max-width: 600px) {
      height: 20px;
    }

    @media (min-width: 601px) {
      width: 20px;
    }
  }
}
