@import 'LessConstants';

.container {
  font-family: @main-font;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-height: 500px) {
    max-height: 96vh;
    overflow-y: scroll;
    padding: 20px 0;
  }

  @media (min-height: 501px) {
    height: 420px;
  }

  &.light {
    background-color: @off-white;
  }
  &.dark {
    background-color: @dark-grey;
  }

  .heading {
    font-size: 18px;
    color: @off-white;
    text-align: center;
    margin: 5px 0 20px 0;

    &.light {
      color: @dark-grey;
    }
    &.dark {
      color: @off-white;
    }
  }

  .error {
    height: 15px;
    font-size: 14px;
    color: @cherry;
    margin: 8px 0 12px 0;
  }

  .link {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;

    &.light {
      color: @dark-grey;
    }
    &.dark {
      color: @off-white;
    }
  }
}
