@import 'LessConstants';

.container {
  width: 360px;
  border-radius: 5px;
  padding: 40px 20px 20px 20px;

  &.light {
    background-color: @off-white;
  }
  &.dark {
    background-color: @dark-grey;
  }

  .text {
    font-family: @main-font;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;

    &.light {
      color: @dark-grey;
    }
    &.dark {
      color: @off-white;
    }
  }
}
