@import 'LessConstants';

.container {
  font-family: @main-font;

  .content {
    background-color: @dark-grey;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;

    .title {
      font-size: 22px;
      color: @off-white;
      letter-spacing: 0.05em;
      margin-bottom: 10px;
    }

    .info {
      display: flex;
      font-size: 14px;
      line-height: 1.2;
      color: @white;

      .field {
        color: @off-white;
        margin: 0 10px 3px 0;

        &.middle {
          margin: 2px 10px 0 0;
        }
      }
    }

    .text {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.05em;
      color: @off-white;
      margin: 20px 0;
    }
  }
}
